<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
</head>
<body>
  <h1>Register Page</h1>
  <form action="/users/register" method="post">
    Name: <input type="text" name="name"/><br>
    Surname: <input type="text" name="surname"/><br>
    Email: <input type="text" name="email" /><br>
    Password: <input type="password" name="password"/><br>
    UserType: <select name="role">
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
    </select>
    <button type="submit" value="register">Register</button>
  </form>
  <th:block th:insert="~{fragment/customFragment::footer}"></th:block>
</body>
</html>